body {
	background-color: #f0f0f0 ;
	color: #333 ;
	background-image: -webkit-repeating-linear-gradient(
		left,
		#aaa,
		#aaa 0.02%,
		#a5a5a5 0.02%,
		#a5a5a5 0.03%
	) ;
	padding: 150px;
	padding-left: 350px ;
}

a[id='button'] {
	display: inline-block ;
	-webkit-box-shadow:
		0px 3px #888,
		0px 4px #7d7d7d,
		0px 5px #787878,
		0px 6px #6d6d6d,
		0px 7px #666,
		0px 8px #585858,
		0px 9px #555,
		0px 16px 5px -1px #888
	;
	border-radius: 10px ;
	transition: -webkit-box-shadow .1s ease-in-out ;
}

a[id='button'] span {
	padding: 10px 40px ;
	border-radius: 10px ;
	display: inline-block ;
	background-color: white ;
	background-image: -webkit-repeating-linear-gradient(
		45deg,
		#E8E8E8 0%,
		#E8E8E8 0.5%,
		#F5F5F5 0.5%,
		#F5F5F5 2%
	) ;
	-webkit-box-shadow: 0px .1px 1px white, 0px -0.1px white;
	font-size: 3em ;
	font-family: "Bernard MT" ;
	color: #3A474D ;
	text-shadow: 0px -1px 0.1px #262F33 ;
	text-transform: uppercase ;
	transition:
		transform .1s ease-in-out
	;
}

a[id='button']:hover span {
	color: #AEBF3B ;
	text-shadow: 0px -1px 0.1px #97A63A ;
	cursor: pointer ;
}

a[id='button']:active span {
	transform: translate( 0, 5px ) ;
}

a[id='button']:active {
	-webkit-box-shadow:
		0px 3px #888,
		0px 4px #7d7d7d,
		0px 5px #787878,
		0px 6px #6d6d6d,
		0px 7px #666,
		0px 8px #585858,
		0px 9px #555,
		0px 14px 5px -1px #888
	;
}
